.base-llama-index:
  image: python:3.10@sha256:a39d69ac6a310d6dcbcfdf4c4d8fef7bcdd2dde27c1b5ea89af8e3530037c270
  before_script:
    - !reference [.setup, update-pip]
    - !reference [.setup, update-poetry]

    - cd packages/pangea-multipass-llama-index
    - poetry check --lock
    - poetry install
  rules:
    - if: $CI_PIPELINE_SOURCE == "push"

build-llama-index:
  extends: .base-llama-index
  needs: []
  script:
    - poetry build
  artifacts:
    paths: ["packages/pangea-multipass-llama-index/dist"]
    when: on_success

publish-llama-index:
  extends: .base-llama-index
  needs: [build-llama-index]
  script:
    - bash ../../dev/validate_tag.sh $CI_COMMIT_TAG
    - poetry publish --username __token__ --password $PYPI_SDK_TOKEN
  rules:
    - if: $CI_COMMIT_TAG =~ /pangea-multipass-llama-index\/.+/
