[project]
name = "pangea-multipass"
version = "0.2.0"
description = "Pangea Multipass authorization library"
authors = [
    { name = "Apurv Jawle", email = "apurv.jawle@pangea.cloud" }
]
license = "MIT"
readme = "README.md"
requires-python = ">=3.10,<4.0"
dependencies = [
    "google-auth-oauthlib (>=1.2.2)",
    "google-auth-httplib2 (>=0.2.1)",
    "google-api-python-client (>=2.186.0)",
    "google-auth (>=2.42.1)",
    "openpyxl (>=3.1.5)",
    "slack-sdk (>=3.37.0)",
]

[dependency-groups]
dev = [
    "mypy==1.18.2",
    "types-requests==2.32.4.20250913",
]

[build-system]
requires = ["hatchling==1.27.0"]
build-backend = "hatchling.build"

[tool.black]
line-length = 120

[tool.isort]
profile = "black"
line_length = 120
src_paths = ["pangea_multipass", "tests"]
known_local_folder = ["pangea_multipass", "tests"]

[tool.mypy]
python_version = "3.10"
color_output = true
error_summary = true
pretty = true
show_column_numbers = true
warn_unused_ignores = true

[[tool.mypy.overrides]]
module = ["google_auth_oauthlib.flow.*", "googleapiclient.discovery.*"]
follow_untyped_imports = true
