name: CI

on:
  push:
    branches:
      - main

  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review

  merge_group:

  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        package: [pangea-multipass, pangea-multipass-langchain, pangea-multipass-llama-index]
    defaults:
      run:
        working-directory: ./packages/${{ matrix.package }}
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install uv
        uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7.1.5
        with:
          enable-cache: true

      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: 3.12

      - name: Install dependencies
        run: uv sync --all-extras --dev

      - name: Build
        run: uv build

  mypy:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        path:
          - examples/langchain_examples
          - examples/llama_index_examples
          - examples/multipass_examples
          - packages/pangea-multipass
          - packages/pangea-multipass-langchain
          - packages/pangea-multipass-llama-index
    defaults:
      run:
        working-directory: ${{ matrix.path }}
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install cairo
        run: sudo apt-get install -y libcairo2-dev

      - name: Install uv
        uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7.1.5
        with:
          enable-cache: true

      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: 3.12

      - name: Install dependencies
        run: uv sync --all-extras --dev

      - name: mypy
        run: uv run mypy . --ignore-missing-imports --implicit-reexport
